* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
}

form {
  /*background: #000;*/
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  margin-right: .3em;
  width: 45em;
  font-size: 100%;
}


input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

form #button {
  /*color: #FFF;
  background: #4F94CD;*/
  border: none;
  /*padding: 10px;*/
  padding: 0px;
  /*width: 9%;*/
  height: 1.9em;
  width: auto;
  bottom: 0;
  margin-bottom: .1em;
  position: fixed;
}


#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 7%;
}

#messages li {
  padding: 5px 10px;
}

/*#messages li:nth-child(odd) {
  background: #eee;
}*/

#notifyUser {
  position: fixed;
  bottom: 2em;
  width: 100%;
}


@media screen and (max-width: 600px) {
  /*form {
    height: 8%;
  }*/
  
  form input {
    height: 100%;
    width: 87%;
  }

  form input:focus {
    margin-bottom: 8%;
  }


  form #button {
    height: 6%;
    width: auto;
    margin-bottom: 2%;
  }

  #messages li {
    font-size: 1em;
  }


}
/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */